In [3]:
print("hello in Jupyter")

hello in Jupyter

In [11]:
import pandas as pd

In [12]:
property_data = pd.read_csv("data/Property_Assessment_Data_(Current_Calendar_Year)_20251030.csv")

property_data.head()

C:\Users\dmouris\AppData\Local\Temp\ipykernel_36284\302280693.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  property_data = pd.read_csv("data/Property_Assessment_Data_(Current_Calendar_Year)_20251030.csv")

,Account Number,Suite,House Number,Street Name,Neighbourhood ID,Neighbourhood,Ward,Assessed Value,Tax Class,Garage,Assessment Class 1,Assessment Class 2,Assessment Class 3,Assessment Class % 1,Assessment Class % 2,Assessment Class % 3,Latitude,Longitude,Point Location
0,4058129,NaN,870.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,150000,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
1,4058137,NaN,872.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,149500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
2,4058145,NaN,874.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,151500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
3,4058152,NaN,876.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,147000,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
4,4058160,NaN,878.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,153500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)

In [19]:
# property_data here is called a DataFrame it allows us to do some analysis.

In [14]:
# we can get some infor about it.
property_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431706 entries, 0 to 431705
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Account Number        431706 non-null  int64
 1   Suite                 82839 non-null   object
 2   House Number          386360 non-null  float64
 3   Street Name           386360 non-null  object
 4   Neighbourhood ID      423470 non-null  float64
 5   Neighbourhood         431706 non-null  object
 6   Ward                  423470 non-null  object
 7   Assessed Value        431706 non-null  int64
 8   Tax Class             431706 non-null  object
 9   Garage                431706 non-null  object
 10  Assessment Class 1    431706 non-null  object
 11  Assessment Class 2    1096 non-null    object
 12  Assessment Class 3    283 non-null     object
 13  Assessment Class % 1  431706 non-null  int64
 14  Assessment Class % 2  1096 non-null    float64
 15  Assessment Class % 3  283 non-null     float64
 16  Latitude              431706 non-null  float64
 17  Longitude             431706 non-null  float64
 18  Point Location        431706 non-null  object
dtypes: float64(6), int64(3), object(10)
memory usage: 62.6+ MB

In [17]:
# let's get the rows and columns 
property_data.shape

(431706, 19)

In [18]:
# over here we can get some summary statistics to essentially see mean (average) standard of deviation 
# min the max
# not applicable to all columns but certainly to some.

property_data.describe()

,Account Number,House Number,Neighbourhood ID,Assessed Value,Assessment Class % 1,Assessment Class % 2,Assessment Class % 3,Latitude,Longitude
count,4.317060e+05,386360.000000,423470.000000,4.317060e+05,431706.000000,1096.000000,283.000000,431706.000000,431706.000000
mean,7.932009e+06,7715.353792,4274.007878,5.097698e+05,99.952975,17.537409,3.243816,53.517496,-113.514320
std,3.266791e+06,5494.706696,1756.729000,3.770018e+06,1.214058,15.312706,3.522056,0.068877,0.085176
min,1.001007e+06,1.000000,1010.000000,0.000000e+00,41.000000,1.000000,1.000000,53.338595,-113.713318
25%,4.763971e+06,2513.750000,2660.000000,1.800000e+05,100.000000,3.000000,1.000000,53.457364,-113.573817
50%,9.985830e+06,7916.000000,4487.000000,3.690000e+05,100.000000,13.000000,2.000000,53.519346,-113.510660
75%,1.027426e+07,11431.000000,5579.000000,5.005000e+05,100.000000,32.000000,4.000000,53.572620,-113.448507
max,1.131654e+07,51175.000000,8889.000000,1.289650e+09,100.000000,50.000000,24.000000,53.715150,-113.278411