In [3]:
print("hello in Jupyter")

hello in Jupyter

In [11]:
import pandas as pd

In [12]:
property_data = pd.read_csv("data/Property_Assessment_Data_(Current_Calendar_Year)_20251030.csv")

property_data.head()

C:\Users\dmouris\AppData\Local\Temp\ipykernel_36284\302280693.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  property_data = pd.read_csv("data/Property_Assessment_Data_(Current_Calendar_Year)_20251030.csv")

,Account Number,Suite,House Number,Street Name,Neighbourhood ID,Neighbourhood,Ward,Assessed Value,Tax Class,Garage,Assessment Class 1,Assessment Class 2,Assessment Class 3,Assessment Class % 1,Assessment Class % 2,Assessment Class % 3,Latitude,Longitude,Point Location
0,4058129,NaN,870.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,150000,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
1,4058137,NaN,872.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,149500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
2,4058145,NaN,874.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,151500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
3,4058152,NaN,876.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,147000,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
4,4058160,NaN,878.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,153500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)

In [19]:
# property_data here is called a DataFrame it allows us to do some analysis.

In [14]:
# we can get some infor about it.
property_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431706 entries, 0 to 431705
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Account Number        431706 non-null  int64
 1   Suite                 82839 non-null   object
 2   House Number          386360 non-null  float64
 3   Street Name           386360 non-null  object
 4   Neighbourhood ID      423470 non-null  float64
 5   Neighbourhood         431706 non-null  object
 6   Ward                  423470 non-null  object
 7   Assessed Value        431706 non-null  int64
 8   Tax Class             431706 non-null  object
 9   Garage                431706 non-null  object
 10  Assessment Class 1    431706 non-null  object
 11  Assessment Class 2    1096 non-null    object
 12  Assessment Class 3    283 non-null     object
 13  Assessment Class % 1  431706 non-null  int64
 14  Assessment Class % 2  1096 non-null    float64
 15  Assessment Class % 3  283 non-null     float64
 16  Latitude              431706 non-null  float64
 17  Longitude             431706 non-null  float64
 18  Point Location        431706 non-null  object
dtypes: float64(6), int64(3), object(10)
memory usage: 62.6+ MB

In [17]:
# let's get the rows and columns 
property_data.shape

(431706, 19)

In [18]:
# over here we can get some summary statistics to essentially see mean (average) standard of deviation 
# min the max
# not applicable to all columns but certainly to some.

property_data.describe()

,Account Number,House Number,Neighbourhood ID,Assessed Value,Assessment Class % 1,Assessment Class % 2,Assessment Class % 3,Latitude,Longitude
count,4.317060e+05,386360.000000,423470.000000,4.317060e+05,431706.000000,1096.000000,283.000000,431706.000000,431706.000000
mean,7.932009e+06,7715.353792,4274.007878,5.097698e+05,99.952975,17.537409,3.243816,53.517496,-113.514320
std,3.266791e+06,5494.706696,1756.729000,3.770018e+06,1.214058,15.312706,3.522056,0.068877,0.085176
min,1.001007e+06,1.000000,1010.000000,0.000000e+00,41.000000,1.000000,1.000000,53.338595,-113.713318
25%,4.763971e+06,2513.750000,2660.000000,1.800000e+05,100.000000,3.000000,1.000000,53.457364,-113.573817
50%,9.985830e+06,7916.000000,4487.000000,3.690000e+05,100.000000,13.000000,2.000000,53.519346,-113.510660
75%,1.027426e+07,11431.000000,5579.000000,5.005000e+05,100.000000,32.000000,4.000000,53.572620,-113.448507
max,1.131654e+07,51175.000000,8889.000000,1.289650e+09,100.000000,50.000000,24.000000,53.715150,-113.278411

In [20]:
# Let's take a look at the columns available for use to select from.

property_data.columns

Index(['Account Number', 'Suite', 'House Number', 'Street Name',
       'Neighbourhood ID', 'Neighbourhood', 'Ward', 'Assessed Value',
       'Tax Class', 'Garage', 'Assessment Class 1', 'Assessment Class 2',
       'Assessment Class 3', 'Assessment Class % 1', 'Assessment Class % 2',
       'Assessment Class % 3', 'Latitude', 'Longitude', 'Point Location'],
      dtype='object')

In [21]:
# let's get all of the unique values of a given column.

# we're passing in the column "Neighbourhood" the .unique() gives us the unique values for this columns 
property_data["Neighbourhood"].unique()

array(['ABBOTTSFIELD', 'ALBANY', 'ALBERTA AVENUE',
       'ALBERTA PARK INDUSTRIAL', 'ALCES', 'ALDERGROVE', 'ALLARD',
       'ALLENDALE', 'AMBLESIDE', 'ANTHONY HENDAY',
       'ANTHONY HENDAY BIG LAKE', 'ANTHONY HENDAY CASTLEDOWNS',
       'ANTHONY HENDAY CLAREVIEW', 'ANTHONY HENDAY ENERGY PARK',
       'ANTHONY HENDAY HORSE HILL', 'ANTHONY HENDAY LAKE DISTRICT',
       'ANTHONY HENDAY MISTATIM', 'ANTHONY HENDAY RAMPART',
       'ANTHONY HENDAY SOUTH', 'ANTHONY HENDAY SOUTH BLACKBURNE',
       'ANTHONY HENDAY SOUTH WEST', 'ANTHONY HENDAY SOUTHEAST',
       'ANTHONY HENDAY TERWILLEGAR', 'ARGYLL', 'ARMSTRONG INDUSTRIAL',
       'ASPEN GARDENS', 'ASTER', 'ATHLONE', 'AVONMORE', 'BALWIN',
       'BANNERMAN', 'BARANOW', 'BATURYN', 'BEACON HEIGHTS', 'BEARSPAW',
       'BEAUMARIS', 'BELGRAVIA', 'BELLE RIVE', 'BELLEVUE', 'BELMEAD',
       'BELMONT', 'BELVEDERE', 'BERGMAN', 'BEVERLY HEIGHTS', 'BISSET',
       'BLACKBURNE', 'BLACKMUD CREEK', 'BLACKMUD CREEK RAVINE',
       'BLATCHFORD AREA', 'BLUE QUILL', 'BLUE QUILL ESTATES',
       'BONAVENTURE INDUSTRIAL', 'BONNIE DOON', 'BOYLE STREET',
       'BRANDER GARDENS', 'BRECKENRIDGE GREENS', 'BRINTNELL',
       'BRITANNIA YOUNGSTOWN', 'BROOKSIDE', 'BROWN INDUSTRIAL',
       'BULYEA HEIGHTS', 'CAERNARVON', 'CALDER', 'CALGARY TRAIL NORTH',
       'CALGARY TRAIL SOUTH', 'CALLAGHAN', 'CALLINGWOOD NORTH',
       'CALLINGWOOD SOUTH', 'CAMERON HEIGHTS', 'CANON RIDGE', 'CANORA',
       'CANOSSA', 'CAPILANO', 'CARLETON SQUARE INDUSTRIAL', 'CARLISLE',
       'CARLTON', 'CARTER CREST', 'CASHMAN', 'CASSELMAN', 'CAVANAGH',
       'CENTRAL MCDOUGALL', 'CHAMBERY', 'CHAPPELLE', 'CHAPPELLE AREA',
       'CHARLESWORTH', 'CLAREVIEW TOWN CENTRE', 'CLOVER BAR AREA',
       'CLOVERDALE', 'CORONET ADDITION INDUSTRIAL', 'CORONET INDUSTRIAL',
       'CPR IRVINE', 'CRAWFORD PLAINS', 'CRESTWOOD', 'CROMDALE',
       'CROSSROADS', 'CRYSTALLINA NERA EAST', 'CRYSTALLINA NERA WEST',
       'CUMBERLAND', 'CY BECKER', 'DALY GROVE', 'DAVIES INDUSTRIAL EAST',
       'DAVIES INDUSTRIAL WEST', 'DECHENE', 'DECOTEAU', 'DELTON',
       'DELWOOD', 'DESROCHERS AREA', 'DOMINION INDUSTRIAL', 'DONSDALE',
       'DOVERCOURT', 'DOWNTOWN', 'DUGGAN', 'DUNLUCE',
       'EASTGATE BUSINESS PARK', 'EASTWOOD', 'EAUX CLAIRES', 'EBBERS',
       'EDGEMONT', 'EDMISTON INDUSTRIAL',
       'EDMONTON ENERGY AND TECHNOLOGY PARK', 'EDMONTON NORTHLANDS',
       'EDMONTON RESEARCH AND DEVEL PARK', 'EDMONTON SOUTH CENTRAL',
       'EDMONTON SOUTH CENTRAL EAST', 'EDMONTON SOUTH EAST',
       'EDMONTON SOUTH WEST', 'EKOTA', 'ELLERSLIE',
       'ELLERSLIE INDUSTRIAL', 'ELMWOOD', 'ELMWOOD PARK', 'ELSINORE',
       'EMPIRE PARK', 'ERMINESKIN', 'EVANSDALE', 'EVERGREEN',
       'FALCONER HEIGHTS', 'FOREST HEIGHTS', 'FRASER', 'FULTON PLACE',
       'GAGNON ESTATE INDUSTRIAL', 'GAINER INDUSTRIAL', 'GARIEPY',
       'GARNEAU', 'GARSIDE INDUSTRIAL', 'GIRARD INDUSTRIAL',
       'GLASTONBURY', 'GLENGARRY', 'GLENORA', 'GLENRIDDING HEIGHTS',
       'GLENRIDDING RAVINE', 'GLENWOOD', 'GOLD BAR', 'GOODRIDGE CORNERS',
       'GORMAN', 'GRANDVIEW HEIGHTS', 'GRANVILLE', 'GRAYDON HILL',
       'GREENFIELD', 'GREENVIEW', 'GRIESBACH', 'GROVENOR', 'HADDOW',
       'HAGMANN ESTATE INDUSTRIAL', 'HAIRSINE',
       'HAWIN PARK ESTATE INDUSTRIAL', 'HAWKS RIDGE', 'HAYS RIDGE AREA',
       'HAZELDEAN', 'HENDERSON ESTATES', 'HERITAGE VALLEY AREA',
       'HERITAGE VALLEY TOWN CENTRE AREA', 'HIGH PARK',
       'HIGH PARK INDUSTRIAL', 'HIGHLANDS', 'HILLVIEW', 'HODGSON',
       'HOLLICK-KENYON', 'HOLYROOD', 'HOMESTEADER', 'HUDSON',
       'HUFF BREMNER ESTATE INDUSTRIAL', 'IDYLWYLDE',
       'INDUSTRIAL HEIGHTS', 'INGLEWOOD', 'JACKSON HEIGHTS',
       'JAMIESON PLACE', 'JASPER PARK', 'KAMEYOSEK', 'KEHEEWIN',
       'KENILWORTH', 'KENNEDALE INDUSTRIAL', 'KENSINGTON', 'KERNOHAN',
       'KESWICK', 'KILDARE', 'KILKENNY', 'KILLARNEY', 'KING EDWARD PARK',
       'KINGLET GARDENS', 'KINISKI GARDENS', 'KINOKAMAU PLAINS AREA',
       'KIRKNESS', 'KLARVATTEN', 'LA PERLE', 'LAGO LINDO',
       'LAMBTON INDUSTRIAL', 'LANSDOWNE', 'LARKSPUR', 'LAUDERDALE',
       'LAUREL', 'LAURIER HEIGHTS', 'LEE RIDGE', 'LEGER', 'LENDRUM PLACE',
       'LEWIS FARMS INDUSTRIAL', 'LORELEI', 'LYMBURN', 'LYNNWOOD',
       'MACEWAN', 'MACTAGGART', 'MAGRATH HEIGHTS', 'MALMO PLAINS',
       'MAPLE', 'MAPLE RIDGE', 'MAPLE RIDGE INDUSTRIAL', 'MARQUIS',
       'MATT BERRY', 'MATTSON', 'MAYFIELD', 'MAYLIEWAN',
       'MCARTHUR INDUSTRIAL', 'MCCAULEY', 'MCCONACHIE',
       'MCINTYRE INDUSTRIAL', 'MCKERNAN', 'MCLEOD', 'MCNAMARA INDUSTRIAL',
       'MCQUEEN', 'MEADOWLARK PARK', 'MELTWATER', 'MENISA', 'MEYOKUMIN',
       'MEYONOHK', 'MICHAELS PARK', 'MILL CREEK RAVINE NORTH',
       'MILL CREEK RAVINE SOUTH', 'MILL WOODS PARK',
       'MILL WOODS TOWN CENTRE', 'MILLER', 'MINCHAU',
       'MISTATIM INDUSTRIAL', 'MITCHELL INDUSTRIAL', 'MONTROSE',
       'MORIN INDUSTRIAL', 'MORRIS INDUSTRIAL', 'NEWTON', 'NORTH GLENORA',
       'NORTHMOUNT', 'NORWESTER INDUSTRIAL', 'OGILVIE RIDGE', 'OLESKIW',
       'OLIVER', 'ORMSBY PLACE', 'OTTEWELL', 'OVERLANDERS', 'OXFORD',
       'OZERNA', 'PAISLEY', 'PAPASCHASE INDUSTRIAL', 'PARKALLEN',
       'PARKDALE', 'PARKVIEW', 'PARSONS INDUSTRIAL', 'PATRICIA HEIGHTS',
       'PEMBINA', 'PINTAIL LANDING', 'PLACE LA RUE', 'PLEASANTVIEW',
       'POLLARD MEADOWS', 'POTTER GREENS', 'POUNDMAKER INDUSTRIAL',
       'PRINCE CHARLES', 'PRINCE RUPERT', 'PYLYPOW INDUSTRIAL',
       'QUARRY RIDGE', 'QUEEN ALEXANDRA', 'QUEEN MARY PARK',
       'QUESNELL HEIGHTS', 'RAMPART INDUSTRIAL', 'RAMSAY HEIGHTS',
       'RAPPERSWIL', 'RHATIGAN RIDGE', 'RICHFIELD', 'RICHFORD',
       'RIDEAU PARK', 'RIO TERRACE', 'RITCHIE', 'RIVER VALLEY CAMERON',
       'RIVER VALLEY CAPITOL HILL', 'RIVER VALLEY FORT EDMONTON',
       'RIVER VALLEY GLENORA', 'RIVER VALLEY GOLD BAR',
       'RIVER VALLEY HERMITAGE', 'RIVER VALLEY HIGHLANDS',
       'RIVER VALLEY KINNAIRD', 'RIVER VALLEY LAURIER',
       'RIVER VALLEY LESSARD NORTH', 'RIVER VALLEY MAYFAIR',
       'RIVER VALLEY OLESKIW', 'RIVER VALLEY RIVERSIDE',
       'RIVER VALLEY RUNDLE', 'RIVER VALLEY TERWILLEGAR',
       'RIVER VALLEY VICTORIA', 'RIVER VALLEY WALTERDALE',
       'RIVER VALLEY WHITEMUD', 'RIVER VALLEY WINDEMERE', "RIVER'S EDGE",
       'RIVERDALE', 'RIVERVIEW AREA', 'ROPER INDUSTRIAL',
       'ROSEDALE INDUSTRIAL', 'ROSENTHAL', 'ROSSDALE', 'ROSSLYN',
       'ROYAL GARDENS', 'RUNDLE HEIGHTS', 'RURAL NORTH EAST HORSE HILL',
       'RURAL NORTH EAST SOUTH STURGEON', 'RUTHERFORD', 'SAKAW', 'SATOO',
       'SCHONSEE', 'SECORD', 'SHEFFIELD INDUSTRIAL', 'SHERBROOKE',
       'SHERWOOD', 'SIFTON PARK', 'SILVER BERRY', 'SKYRATTLER',
       'SOUTH EDMONTON COMMON', 'SOUTH TERWILLEGAR',
       'SOUTHEAST (ANNEXED) INDUSTRIAL', 'SPRUCE AVENUE', 'SPUR LINES',
       'STARLING', 'STEINHAUER', 'STEWART GREENS', 'STILLWATER',
       'STONE INDUSTRIAL', 'STRATHCONA', 'STRATHCONA INDUSTRIAL PARK',
       'STRATHCONA JUNCTION', 'STRATHEARN', 'SUDER GREENS', 'SUMMERLEA',
       'SUMMERSIDE', 'SUNWAPTA INDUSTRIAL', 'SWEET GRASS', 'TAMARACK',
       'TAWA', 'TERRA LOSA', 'TERRACE HEIGHTS', 'TERWILLEGAR TOWNE',
       'THE HAMPTONS', 'THE ORCHARDS AT ELLERSLIE', 'THE UPLANDS',
       'THORNCLIFF', 'TIPASKAN', 'TRUMPETER AREA', 'TWEDDLE PLACE',
       'TWIN BROOKS', 'UNIVERSITY OF ALBERTA',
       'UNIVERSITY OF ALBERTA FARM', 'VIRGINIA PARK', 'WALKER',
       'WEBBER GREENS', 'WEDGEWOOD HEIGHTS', 'WEINLOS', 'WEIR INDUSTRIAL',
       'WELLINGTON', 'WEST JASPER PLACE', 'WEST MEADOWLARK PARK',
       'WEST SHEFFIELD INDUSTRIAL', 'WESTBROOK ESTATE', 'WESTMOUNT',
       'WESTRIDGE', 'WESTVIEW VILLAGE', 'WESTWOOD', 'WHITE INDUSTRIAL',
       'WHITEMUD CREEK RAVINE NORTH', 'WHITEMUD CREEK RAVINE SOUTH',
       'WHITEMUD CREEK RAVINE TWIN BROOKS', 'WÎHKWÊNTÔWIN', 'WILD ROSE',
       'WILSON INDUSTRIAL', 'WINDERMERE', 'WINDERMERE AREA',
       'WINDSOR PARK', 'WINTERBURN INDUSTRIAL AREA EAST',
       'WINTERBURN INDUSTRIAL AREA WEST', 'WOODCROFT',
       'YELLOWHEAD CORRIDOR EAST', 'YELLOWHEAD CORRIDOR WEST', 'YORK',
       'YOUNGSTOWN INDUSTRIAL'], dtype=object)

In [22]:
# Let's take a look at filtering for a given neighbourhood.

# the way this is done in pandas is that you pass in a condition to DataFrame in the [] brackets.
# below the condition is property_data["Neighbourhood"] == "DOWNTOWN" which is going to give us a DataFrame 
# filtered for downtown properties.

downtown_property_data = property_data[property_data["Neighbourhood"] == "DOWNTOWN"]
# to filter a dataframe use condition as follows data_frame["column_name"] == "value" and put this into data_frame[condition]

# let's take a look at the first few rows
downtown_property_data.head()

,Account Number,Suite,House Number,Street Name,Neighbourhood ID,Neighbourhood,Ward,Assessed Value,Tax Class,Garage,Assessment Class 1,Assessment Class 2,Assessment Class 3,Assessment Class % 1,Assessment Class % 2,Assessment Class % 3,Latitude,Longitude,Point Location
106995,1018019,NaN,10040.0,103 STREET NW,1090.0,DOWNTOWN,O-day'min,500,Non Residential,N,COMMERCIAL,NaN,NaN,100,NaN,NaN,53.540052,-113.498326,POINT (-113.49832591329127 53.54005220261335)
106996,1018027,NaN,10405.0,JASPER AVENUE NW,1090.0,DOWNTOWN,O-day'min,0,Non Residential,N,COMMERCIAL,NaN,NaN,100,NaN,NaN,53.540587,-113.500165,POINT (-113.50016547038064 53.54058675150321)
106997,1018035,NaN,10808.0,99 AVENUE NW,1090.0,DOWNTOWN,O-day'min,16343500,Non Residential,N,COMMERCIAL,NaN,NaN,100,NaN,NaN,53.537776,-113.507119,POINT (-113.50711890782267 53.537776320029145)
106998,1024140,NaN,9839.0,JASPER AVENUE NW,1090.0,DOWNTOWN,O-day'min,150000,Non Residential,N,COMMERCIAL,NaN,NaN,100,NaN,NaN,53.540915,-113.487252,POINT (-113.48725182521747 53.54091465180801)
106999,1033141,NaN,10820.0,100 AVENUE NW,1090.0,DOWNTOWN,O-day'min,12290500,Non Residential,N,COMMERCIAL,NaN,NaN,100,NaN,NaN,53.539232,-113.507880,POINT (-113.5078803891802 53.539231747129705)