In [2]:
print("hello in Jupyter")

hello in Jupyter

In [3]:
import pandas as pd

In [4]:
property_data = pd.read_csv("data/Property_Assessment_Data_(Current_Calendar_Year)_20251030.csv")

property_data.head()

C:\Users\dmouris\AppData\Local\Temp\ipykernel_30544\302280693.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  property_data = pd.read_csv("data/Property_Assessment_Data_(Current_Calendar_Year)_20251030.csv")

,Account Number,Suite,House Number,Street Name,Neighbourhood ID,Neighbourhood,Ward,Assessed Value,Tax Class,Garage,Assessment Class 1,Assessment Class 2,Assessment Class 3,Assessment Class % 1,Assessment Class % 2,Assessment Class % 3,Latitude,Longitude,Point Location
0,4058129,NaN,870.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,150000,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
1,4058137,NaN,872.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,149500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
2,4058145,NaN,874.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,151500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
3,4058152,NaN,876.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,147000,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
4,4058160,NaN,878.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,153500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)

In [5]:
# property_data here is called a DataFrame it allows us to do some analysis.

In [ ]:
# we can get some infor about it.
property_data.info()

In [ ]:
# let's get the rows and columns 
property_data.shape

In [ ]:
# over here we can get some summary statistics to essentially see mean (average) standard of deviation 
# min the max
# not applicable to all columns but certainly to some.

property_data.describe()

In [ ]:
# Let's take a look at the columns available for use to select from.

property_data.columns

In [ ]:
# let's get all of the unique values of a given column.

# we're passing in the column "Neighbourhood" the .unique() gives us the unique values for this columns 
property_data["Neighbourhood"].unique()

In [ ]:
# Let's take a look at filtering for a given neighbourhood.

# the way this is done in pandas is that you pass in a condition to DataFrame in the [] brackets.
# below the condition is property_data["Neighbourhood"] == "DOWNTOWN" which is going to give us a DataFrame 
# filtered for downtown properties.

downtown_property_data = property_data[property_data["Neighbourhood"] == "DOWNTOWN"]
# to filter a dataframe use condition as follows data_frame["column_name"] == "value" and put this into data_frame[condition]

# let's take a look at the first few rows
downtown_property_data.head()

In [ ]:
# let's sort the data by the "Assessed Value" 
# this is done with sort_values(by="Assessed Value", ascending=False)
sorted_downtown_data = downtown_property_data.sort_values(by="Assessed Value", ascending=False)

# let's take a look at this for the first few items.
# sorted_downtown_data.head()

# you can also just take a look at a few columns and list the head
# let's take a look at "House Number", "Street Name", "Assessed Value"
# to do this pass this is as an array ot the items.
sorted_downtown_data[["House Number", "Street Name", "Assessed Value"]].head()

In [ ]:
# Say we we want we want to get the the first ten values
# using the same knowledge you have for arrays you can use
# [:10] on the DataFrame to get those values as shown below

print(sorted_downtown_data[:10])

In [ ]:
# I can filter the first ten rows and select three columsn like above with the following.

print(sorted_downtown_data[["House Number", "Street Name", "Assessed Value"]][:10])