In [2]:
# install pandas 
import pandas as pd
# install matplotlib
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('data/Property_Assessment_Data_(Current_Calendar_Year)_20251030.csv')

data.head()

C:\Users\dmouris\AppData\Local\Temp\ipykernel_24972\3923736313.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/Property_Assessment_Data_(Current_Calendar_Year)_20251030.csv')

,Account Number,Suite,House Number,Street Name,Neighbourhood ID,Neighbourhood,Ward,Assessed Value,Tax Class,Garage,Assessment Class 1,Assessment Class 2,Assessment Class 3,Assessment Class % 1,Assessment Class % 2,Assessment Class % 3,Latitude,Longitude,Point Location
0,4058129,NaN,870.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,150000,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
1,4058137,NaN,872.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,149500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
2,4058145,NaN,874.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,151500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
3,4058152,NaN,876.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,147000,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)
4,4058160,NaN,878.0,ABBOTTSFIELD ROAD NW,2010.0,ABBOTTSFIELD,Métis,153500,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.576329,-113.392304,POINT (-113.39230350026378 53.57632901357068)

In [5]:
residential_data = data[data["Tax Class"] == "Residential"]

residential_data.shape

(403864, 19)

In [7]:
top_6_most_expensive = residential_data.sort_values(by="Assessed Value", ascending=False)[:6]
# sort values sorts
# the [:6] you can "chain" this together to get the first 6 values

# let's take a look at the top 10 in top_6_most_expensive (there's only 6) 
top_6_most_expensive.head(10)
# as a reminder head is a "viewing function" it's going show the first 10 but if there's only 6 it'll show 6

,Account Number,Suite,House Number,Street Name,Neighbourhood ID,Neighbourhood,Ward,Assessed Value,Tax Class,Garage,Assessment Class 1,Assessment Class 2,Assessment Class 3,Assessment Class % 1,Assessment Class % 2,Assessment Class % 3,Latitude,Longitude,Point Location
178414,3020757,NaN,2110.0,127 STREET SW,5456.0,HERITAGE VALLEY AREA,Ipiihkoohkanipiaohtsi,25361500,Residential,N,RESIDENTIAL,COMMERCIAL,NaN,99,1.0,NaN,53.413984,-113.547100,POINT (-113.54710019249728 53.41398370897733)
311936,11227628,NaN,1703.0,199 STREET NW,4469.0,RIVER'S EDGE,sipiwiyiniwak,24815000,Residential,N,RESIDENTIAL,COMMERCIAL,NaN,99,1.0,NaN,53.450112,-113.658086,POINT (-113.65808623620678 53.45011205733109)
311937,11227629,NaN,18655.0,18 AVENUE NW,4469.0,RIVER'S EDGE,sipiwiyiniwak,20778500,Residential,N,RESIDENTIAL,COMMERCIAL,COMMERCIAL,95,4.0,1.0,53.450458,-113.646001,POINT (-113.64600131715767 53.45045757198648)
178415,3020765,NaN,1230.0,127 STREET SW,5456.0,HERITAGE VALLEY AREA,Ipiihkoohkanipiaohtsi,16507000,Residential,N,RESIDENTIAL,NaN,NaN,100,NaN,NaN,53.421090,-113.547141,POINT (-113.54714144221592 53.421089540804516)
247886,10888381,NaN,17861.0,MERIDIAN STREET NE,2671.0,MARQUIS,Dene,16470000,Residential,N,RESIDENTIAL,COMMERCIAL,COMMERCIAL,79,19.0,1.0,53.641012,-113.338073,POINT (-113.33807292579628 53.64101211614205)
201496,1070150,NaN,1704.0,170 STREET SW,5574.0,KESWICK,pihêsiwin,15623000,Residential,N,RESIDENTIAL,COMMERCIAL,NaN,60,40.0,NaN,53.413996,-113.620816,POINT (-113.62081645984783 53.41399623816252)